@media (max-width: 1100px) {
  #presentation {
    display: none;
  }
  a[href="#presentation"] {
    display: none;
  }
}

@media (max-width: 650px) {
  #how {
    flex-direction: column-reverse;
  }
  #feature .section__image {
    display: none;
  }
  .section__image {
    padding: 52px 38px 0 38px;
  }
  .section__title {
    text-align: center;
    margin-bottom: 0;
  }
  .section__text {
    margin: 0 auto;
    padding: 0;
    min-width: 90vw;
    /* flex-basis: 99%; */
  }
  
}

@media (max-width: 450px) {
  .section__title {
    margin-bottom: 0;
  }
  .point_rev {
    margin: 6px auto;
  }
  .section__text_slider {
    margin: auto 10px;
  }
}
@media (max-width: 405px) {
  .header__item_gradient {
    padding: 5px 10px;
  }
  .title__br {
    display: none;
  }
  .header__list{
    gap: 12px;
  }
  .header__list span {
    display: none;
  }
}
@media (max-width: 350px) {
  .conteiner {
    padding: 0 5px;
  }
  .header__item_gradient {
    padding: 5px 5px;
  }
}
@media (max-width: 330px) {
  .section {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .iframe-review iframe {
    margin-left: 0;
  }
  #rev, #feature {
    margin-top: 40px;
  }
  
}


